%meta(name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" )
%html
  %head
    %link(rel="stylesheet" type="text/css" href="/style.css" )
  %body
    .header.section
      %h1
        View images
      - filter.split(' ').each do |f|
        \##{f}

      - categories = DB[:categorizations].where("picture_id in ?", images_to_be_listed.map(:id))
      - if filter != ""
        - categories = categories.where("category_name not in ?", filter.split(' '))
      - categories.each do |category|
        %a.tag(href="/view_images?tags=#{filter.gsub(' ', '+')}+#{category[:category_name]}" )="\##{category[:category_name]}"
    .useruploads.section
      %h3
        Your uploads:
      %ul
        - for picture in images_to_be_listed.where("Owner = ?", session[:kayttaja]) do
          %li
            %a(href="/viewimage/#{picture[:owner]}/#{picture[:id]}" )
              =picture[:name]
            %br
    .othersuploads.section
      %h3
        Uploads by others:
      %ul
        - images_to_be_listed.where("Owner != ?", session[:kayttaja]).each do |picture|
          %li
            %a(href="/viewimage/#{picture[:owner]}/#{picture[:id]}" )
              =picture[:name]
            %br
    .links.section
      %a(href="/mainpage")
        back to main page
        %br