%html
  %head
    %link(rel="stylesheet" type="text/css" href="/style.css" )
  %body.imageview
    %h1
      =image[:name]
    %h2
      owner:
      =DB[:users].where("id = ?", image[:owner]).first[:username]
    - if image[:owner] == session[:kayttaja]
      x
      %a(href="/delete/#{session[:kayttaja]}/#{image[:id]}" )
        delete image
    %a(href="/image/#{image[:owner]}/#{image[:id]}" )
      %img(src="/image/#{image[:owner]}/#{image[:id]}" width="500" )

    .tags
      - DB[:categorizations].where("picture_id = ?", image[:id]).each do |category|
        =category[:category_name]
      - if image[:owner] == session[:kayttaja]
        %form.tagform(method="post" action="/addcategory" )
          %input(type="hidden" name="targetid" value="#{image[:id]}")
          %input.taginput(type="text" name="category")
    .comments
      - DB[:comments].where("picture_id = ?", image[:id]).each do |comment|
        .comment
          .comment_text
            =comment[:text]
          .commenter
            \-
            =DB[:users].where("id = ?", comment[:commenter]).first[:username]
    .commentform
      %form(method="post" action="/comment" )
        %input(type="hidden" name="targetid" value="#{image[:id]}")
        %input.commentfield(type="text" name="comment")
        %input.commentbutton(type="submit" value=">>")
    %p
      %a(href="/mainpage")
        back to main page
      %br
      %a(href="/view_images")
        back to image listing